/* reset dos elementos */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;

}

.body-container{
    background-color:burlywood;
    text-align: center;
}

.header-container{
    width: 100%;
    height: 80px;
    background-color:darkgoldenrod;
    text-align: center;
}

.header-container a{
    display: inline-block;
    background-color: goldenrod;
    text-decoration: none;
    font-size: x-large;
    color: #fff;

    margin-top: 10px;
    margin-left: 15px;

    padding: 15px;

    border: 3px solid burlywood;
/* 
    border-width: 3px;
    border-style: solid;
    border-color: burlywood; */
}