/* reset dos elementos */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebunchet MS', sans-serif;

    color: #fff
}


:root{
    --bg-body: #b8860b;

    --fonte-padrao: Impact, sans-serif;
    --cor-fonte-padrao: #fff;

    --bg-logo: #000;
    --cor-fonte-logo: #fff;

    --bg-header: #deb887;

    --border-color-sec01: #fff;

}

.body-container{
    background-color: var(--bg-header);

}

/* classe padrão que aplica estilo em todos os containers*/
.container{
    width: 300px;
    height: 300px;
    background-color: var(--bg-body);
    color: #fff
}

.header-container{
    width: 100%;
    height: 80px;
    background-color: var(--bg-body);
    text-align: center;
}



.header-container a{
    background-color: goldenrod;
    text-decoration: none;
    font-size: x-large;
    color: var(--bg-header);

    margin-top: 10px;
    margin-left: 15px;
/* 10 para cima/baixo 25 esquerd/direita */
    padding: 10px 25px;

    border: 3px solid burlywood;

    border-radius: 20px;
}

.section01{
    width: 400px;
    height: 400px;
    border: 2px solid  white;
    margin: 15px auto;

    padding: 25px;

    display: none;


}

/* pseudo classe que detecta o movimneto do mouse */
.header-container a:hover{
    border-color: var(--border-color-sec01);
    background-color: burlywood;
}

.menu{
    display:flex
    
}

.logo{
    width: 30%;
    height: 80px;
    background-color: var(--bg-logo);
    color: var(--cor-fonte-logo);
    display: block;
}


.section01 h1{
    text-align: center;
}

.section01 .item-lista{
    margin: 25px auto;
}

.section02{
    line-height: 15px;
    text-align: justify;
    padding: 10px;
    margin-left: 35px;
    font-family: 'Gill Sans', sans-serif;
    display: none;
}

.section02 p{
    font-family: 'Gill Sans',sans-serif;
    color: #fff;
}

.section02 p:hover{
    background-color: black;
}